{% extends "base.html" %}

{% block titulo %} Listado de peticiones {% endblock %}

{% block contenido_principal %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Emisor</th>
            <th>Receptor</th>
        </tr>
        </thead>
        <tbody>
        {% for peticion in peticiones %}
        <tr>
            <td>{{peticion.emisor}}</td>
            <td>{{peticion.receptor}}</td>
            <td><a href={{'/peticion/confirm/' + peticion.emisor}}>Confirmar la petición de amistad</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}